/*MODAL Navigation Menu - START*/
.nav-burger-block {
    position: relative;
    display: none;
}

.nav-burger {
    width: 32px;
    height: 32px;
    /*display: none;*/
    position: relative;
    opacity: 0;
    cursor: pointer
}

.nav-burger:checked ~ .nav-modal {
    /*display: block;*/
    transform: scale(1, 1)
}

.nav-burger-lines {
    bottom: 10px;
    left: 13px;
}

.nav-burger-lines,
.nav-burger-lines::before,
.nav-burger-lines::after {
    width: 16px;
    height: 2px;
    display: none;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.nav-modal {
    width: 300px;
    height: 100vh;
    background-color: #6667ab;
    position: fixed;
    padding: 0 30px;
    top: 0;
    left: 0;
    /*display: none;*/
    z-index: 99;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
}

.close-cross {
    margin: 30px;
    cursor: pointer;
}

.nav-modal a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    position: relative;
    /*opacity: 0;*/
}


.nav-modal li {
    margin-bottom: 26px;
    margin-left: 10px;
    list-style: none;
    /*opacity: 0;*/
}

.nav-modal div span {
    /*opacity: 0;*/
}

.nav-modal a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 2px;
    width: 0;
    background: #00CCCC none repeat scroll 0 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-modal a:hover {
    color: #00CCCC;
}

.nav-modal span {
    font-size: 14px;
    line-height: 24px;
    color: #00CCCC;
}

.nav-modal a:hover::after {
    width: 100%;
    left: 0;
}

.new-menu-item {
    position: relative;
}

.new-menu-item span {
    position: absolute;
    bottom: 14px;
}

.shop-menu-item {
    height: 60px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-bottom: 26px;
    position: relative;
}

.shop-menu-item a {
    line-height: 60px;
    margin-left: 10px;
}

.shop-menu-item span {
    position: absolute;
    top: 10px;
}

@media (max-width: 631px) {
    .nav-burger-block {
        position: relative;
        display: block;
    }

    .nav-burger {
        margin-right: 8px;
    }

    .nav-burger-lines,
    .nav-burger-lines::before,
    .nav-burger-lines::after {
        display: block;
    }

    .nav-burger-lines::before,
    .nav-burger-lines::after {
        content: "";
        position: absolute;
    }

    .nav-burger-lines::before {
        height: 2px;
        bottom: 12px;
    }

    .nav-burger-lines::after {
        height: 2px;
        bottom: 6px;
    }
}

@media (max-width: 500px) {
    .nav-modal {
        width: 100%;
    }
}
